.list-plateforms {
    display: flex;
    align-content: center;
    justify-content: center;
}

.list-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding:2rem 1rem;
}