.film-rating-contener {
    display: inline-block;
    font-weight: 400;
    border-radius: 35%;
    text-align: center;
    /* margin: 0.25rem; */
    border: 1px solid;
    border-color : #F6B236;
    color: #F6B236;
    min-width: 3.4rem;
  }
.film-rating-contener-large {
    font-size: 1rem;
    padding: 0.8rem;
    width: 5rem;
    height: 4.3rem
  }
.film-rating-contener-medium {
    font-size: 0.8rem;
    padding: 0.6rem;
    width: 3.5rem;
  }

  .film-rating {
    
  }
  .rating-medium {
    font-weight: 700;
    font-size: 1.3rem;
  
  }
  .rating-large {
    font-weight: 700;
    font-size: 2rem;
  }

  .film-rating-input {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  color: var(--color-text);
}