.film-liked{
    font-size: 2rem;
    border-color : #F6B236;
    color: #F6B236;
}

.liked-button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    margin: 0  1rem;
    /* border: 1px solid; */
    font-size: 2rem;
    /* padding: 1rem; */
    border-color : #F6B236;
    color: #F6B236;
    /* width: 5rem;
    height: 4.3rem; */
    border-radius: 35%;
    /* background-color: turquoise; */
}