.card-container{
    background-color: white;
    border-radius: 15px;
    height: 22rem;
    width: 18rem;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image{
    background-color: var(--color-accent);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-infos{
padding: 1rem;
}