.yearly-progress {
  margin: 20px 0;
  padding: 20px;
  background-color: #F2E8D5;
  border-radius: 8px;
  text-align: center;
}

.yearly-progress h3 {
  font-weight: 700;

 
}

.yearly-progress p {
  font-size: 22px;
  font-weight: 500;
  color: #949BA4;
}


.progress-bar {
  position: relative;
  width: 100%;
  height: 18px;
  background-color: #CFCBBF;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

/* Barre de l'objectif théorique (derrière) */
.goal-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #7B7E81;
  border-radius: 2rem;
  z-index: 1;
  filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.4));
}

/* Barre des films réellement vus (devant) */
.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #CDF636;
    border-radius: 2rem;
  z-index: 2;
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.4));
}
a {
  color: inherit;
  text-decoration: underline;
  font-size: 22px;
}