.custom-form {
  padding-bottom: 6rem; /* ou un peu plus si besoin */
}

.form-button {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.form-button.hidden {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
  pointer-events: none;
}